body {
  background: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 12s ease infinite;
  color: white;
}

.container-fluid {
  background: black !important;
}

h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  animation: gradient 12s ease infinite;
  
/*    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800); */
}

@media {
    .collapse > .menu {
        padding-top: 70vh;
        padding-bottom: 10px;
        height: 95vh !important;
        overflow: visible;
    }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}
