body {
  background: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 12s ease infinite;
}

.container-fluid {
  background: black !important;
}

.collapse {
  height: 100%;
}

#navbarToggleExternalContent {
  background-size: 100% 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
