.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: gradient 8s ease infinite;
  overflow: hidden;
}

.overlay-content {
  position: relative;
  width: 100%;
  top: 80%;
  text-align: right;
  margin-bottom: 10px;
  margin-right: 50px;
  padding-right: 15px;
  overflow: hidden;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
  animation: 0.3s;
}

/* .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
} */

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
/*   .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  } */
}
main {
  height: 100vh;
}

.stop-scrolling {
  overflow: hidden;
}