.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 12s ease infinite;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: underline;
}

/* .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
} */

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
/*   .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  } */
}

body {
  background-color: #FF6F61;
}

main {
  height: 100vh;
}

.turquoise {
  background-color: #45B5AA; 
}